// Component: Button

button, a.button
	display: inline-block
	background-color: #E6E6E6
	border: none
	border-radius: 4px
	outline: none
	padding: 4px 8px
	cursor: pointer
	font-family: $font-styled
	text-decoration: none
	transition: all .1s
	&:hover, &:active
		background-color: #A0A0A0
		color: #FFF
	&.approve
		background-color: #00A0FF
		color: #FFF
		margin-top: 35px
		margin-right: 25px
		padding: 10px
		text-align: center
		vertical-align: middle;
		&:hover, &:active
			background-color: #A0A0A0
			color: #FFF
	&.reject
		background-color: #FF5E53
		color: #FFF
		margin-top: 35px
		padding: 10px
		text-align: center
		vertical-align: middle;
		&:hover, &:active
			background-color: #A0A0A0
			color: #FFF
	&.raised
		padding: 14px 20px
		background-color: $color-primary
		box-shadow: $shadow-normal
		border-radius: 10px
		color: #FFF
		font-size: 1.1em
		font-weight: 700
		transition: box-shadow .15s
		&:hover
			box-shadow: $shadow-normal-hover
