// Component: Card

.card
	display: block
	position: relative
	padding: $gap-size-20
	background-color: #FFF
	border: 1px solid #E0E0E0
	border-radius: 6px
	&.shadow
		border: none
		box-shadow: $shadow-card
	&.hoverable
		transition: box-shadow .1s
		&:hover
			box-shadow: $shadow-card-hover
	&.search-result-card
		margin-bottom: $gap-size-20
		&:last-of-type
			margin-bottom: 3em
		h1
			font-size: 1.25em
			margin-top: 0
			margin-bottom: 5px
		p
			margin-top: 0
			margin-bottom: 6px
		.result-time
			position: absolute
			top: $gap-size-20
			right: $gap-size-20
		.amenities
			span
				margin-right: 0.6em
				img.i
					position: relative
					top: 4px
					height: 19px
	&.request-card
		display: flex
		align-items: center
		margin-bottom: $gap-size-20
		.req-info
			flex: 1
		.req-status
			width: 52px
			text-align: center
		h1
			font-size: 1.25em
			margin-top: 0
			margin-bottom: 5px
		p
			margin-top: 0
			margin-bottom: 6px
		.grayed
			color: #4F4F4F

a.card
	text-decoration: none
	color: inherit

@media screen and (max-width: 767px)
	.card
		&.request-card
			.req-status
				display: none