// Component: Navigation Bar

nav
	padding: $gap-size-20
	position: fixed
	z-index: 10
	width: 100%
	background-color: #FFF
	box-shadow: 0 5px 10px rgba(0,0,0,0.05)
	.logo
		display: inline-block
		position: relative
		left: 0
		font-weight: bold
	ul.menu
		display: inline-block
		list-style-type: none
		margin: 0
		padding: 0
		float: right
		li
			display: inline-block
			margin-left: 1.2em
			&:first-of-type
				margin-left: 0
	a
		text-decoration: none
		color: inherit
		&.sign-out
			margin-left: 1.2em
			padding: 2px 4px
			border: 1px solid #D2D2D2
			border-radius: 5px
			font-family: $font-styled
			&:hover
				background-color: $color-red
				border-color: #FFF
				color: #FFF
		&:hover
			color: $color-primary

div.bar
	position: relative
	border-bottom: 1px solid #00A0FF
	margin-bottom: 5%
	padding-bottom: 1%
	a
		font-weight: bold
		color: #00A0FF
		margin-right: 35px
		// font-size: 16px
		// line-hight: 24px
	a.alternative
		color: #4F4F4F

