// Component: Navigation Bar

nav
	padding: $gap-size-20
	position: fixed
	z-index: 2
	width: 100%
	background-color: #FFF
	box-shadow: 0 5px 10px rgba(0,0,0,0.05)
	.logo
		display: inline-block
		position: relative
		left: 0
		font-weight: bold
	ul.menu
		display: inline-block
		list-style-type: none
		margin: 0
		padding: 0
		float: right
		li
			display: inline-block
			position: relative
			margin-left: 1.2em
			&:first-of-type
				margin-left: 0
			.tooltip
				visibility: hidden
				width: 120px
				background-color: #555
				color: #fff
				text-align: center
				border-radius: 6px
				padding: 5px 0
				position: absolute
				z-index: 1
				top: 200%
				left: 50%
				margin-left: -60px
				opacity: 0
				transition: opacity 0.3s
				&::after
					content: ""
					position: absolute
					bottom: 100%
					left: 50%
					margin-left: -5px
					border-width: 5px
					border-style: solid
					border-color: transparent transparent #555 transparent
			&:hover
				.tooltip
					visibility: visible
					opacity: 1
	a
		text-decoration: none
		color: inherit
		&.authen
			margin-left: 1.2em
			padding: 2px 4px
			border: 1px solid #D2D2D2
			border-radius: 5px
			font-family: $font-styled
			&:hover
				background-color: $color-red
				border-color: #FFF
				color: #FFF
		&:hover
			color: $color-primary

nav.mobile-nav
	display: none
	position: fixed
	bottom: 0
	z-index: 2
	padding: 1em 0
	box-shadow: 0 -4px 10px rgba(0,0,0,0.12)
	ul
		display: flex
		justify-content: space-around
		list-style-type: none
		padding-left: 0
		margin: 0
	&.ios
		background-color: rgba(255,255,255,0.6)
		backdrop-filter: blur(10px)

ul.tabs
	border-bottom: 1px solid $color-primary
	margin-bottom: $gap-size-20 * 2
	padding-left: 0
	list-style-type: none
	font-family: $font-styled
	li
		display: inline-block
		margin-right: $gap-size-20
		padding-bottom: 0.8em
		&:last-of-type
			margin-right: 0
		&.selected
			border-bottom: 3px solid $color-primary
			a
				font-weight: bold
				color: $color-primary
		a
			text-decoration: none
			color: $color-grey

@media screen and (max-width: 430px)
	nav
		ul.menu
			li
				display: none
		&.mobile-nav
			display: block