// Component: Search Box

.search-box
	width: 100%
	max-width: 700px
	margin-left: auto
	margin-right: auto
	.row
		div.input-with-icon
			margin-right: 1em
			margin-bottom: 1em
			&:last-child
				margin-right: 0
			i
				top: 17px
	input, select
		font-family: $font-styled
		font-size: 1.2em
		text-align: center
	.inp-flex
		flex: 1
	.inp-date
		width: 32%
	.inp-25
		width: 25%
	ul.label-list
		list-style-type: none
		padding-left: 0
		margin: 0
		li
			display: inline-block
			margin-right: 1em
			padding: 4px 8px
			cursor: pointer
			border-radius: 4px
			background-color: $color-secondary
			color: #FFF
			box-shadow: $shadow-small
			transition: box-shadow .2s
			&:last-child
				margin-right: 0
			&:hover
				box-shadow: $shadow-small-hover

@media screen and (max-width: $container-steep-width - 1)
	.search-box
		.flex
			display: block
			div
				width: 100%
				margin-right: 0 !important
		ul.label-list
			li
				margin-bottom: 1em
