// Component: Table

table.styled
	border-spacing: 0;
	width: 100%
	tr
		background-color: #FFF
		&:nth-child(even)
			background-color: #F2F2F2
	td
		padding: 0.7em 1em
		border: none
	tr.status
		background-color: #FA811B
		color: #FFF
@media screen and (max-width: 767px)
	table.styled
		border-spacing: 0;
		tr:nth-child(even)
			background-color: #FFF
		tr.status
			background-color: #FA811B
			color: #FFF
		td
			display: block
			&:first-of-type
				background-color: #F2F2F2
				font-weight: bold