// Component: Table

table
	width: 100%
	&.styled
		border-spacing: 0
	tr
		background-color: #FFF
	td
		padding: 0.7em 1em
		border: none
		&.actions
			text-align: right
			a
				margin-right: 0.8em
				text-decoration: none
				color: #000
				cursor: pointer
				&:last-of-type
					margin-right: 0
				&:hover
					color: $color-primary
	tr.status
		color: #FFF
		&.pending
			background-color: $color-secondary !important
		&.approved
			background-color: $color-green !important
		&.rejected
			background-color: $color-red !important
	&.striped
		tr
			background-color: #FFF
			&:nth-child(odd)
				background-color: #F2F2F2

.w-10
	width: 10%

@media screen and (max-width: 767px)
	table
		&.striped
			td
				background-color: #FFF
				&:first-of-type
					background-color: #F2F2F2
					font-weight: bold
				&.actions
					background-color: #FFF
		tr.status
			&.pending
				td:first-of-type
					background-color: $color-secondary
					color: #FFF
				td:last-of-type
					background-color: $color-secondary-normal
			&.approved
				td:first-of-type
					background-color: $color-green
					color: #FFF
				td:last-of-type
					background-color: $color-green-normal
			&.rejected
				td:first-of-type
					background-color: $color-red
					color: #FFF
				td:last-of-type
					background-color: $color-red-normal
		td
			display: block
	.w-10
		width: 100%
