html
	head
		include parts/meta
		title เกิดข้อผิดพลาด
		include parts/stylesheet
		include parts/scripts
	body
		include parts/nav
		div#app
			div.content
				div.container.text-center
					img.marg-b-2(src="public/img/doggo.svg", width="200")
					div.page-title-wrap
						h1.page-title เกิดข้อผิดพลาด
						h2.page-subtitle เราไม่พบหน้าดังกล่าว หรือคุณไม่มิสิทธิ์เข้าถึงหน้านี้
					a.button.raised(href="/") กลับหน้าแรก
