html
	head
		include parts/meta
		title Reserving #{space.name}
		include parts/stylesheet
		include parts/scripts
	body
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title กรุณากรอกรายละเอียด
					div(style="margin-bottom: 3em")
						p
							strong ผู้จอง: 
							| #{member.firstName} #{member.lastName}<br>
							| นักศึกษา คณะเทคโนโลยีสารสนเทศ
						p
							strong สถานที่: 
							| #{space.name}, คณะเทคโนโลยีสารสนเทศ
						p
							strong วันที่ต้องการจอง: 
							= reservation.r_date
						p
							strong เวลาที่ต้องการจอง: 
							| 10.00 - 12.00 น.
					form(action="request-sent")
						div.input-wrap
							label(for="seats") จำนวนผู้ใช้งาน
							input(type="text", name="seats", required)
							span.err กรุณากรอกข้อมูล
						div.input-wrap
							label(for="reason") เหตุผลในการจอง
							textarea(name="reason", rows="4", required)
							span.err กรุณากรอกข้อมูล
						div.marg-b-1
							label อุปกรณ์ที่ต้องการยืม
							table
								each item in [1,2,3]
									tr
										td
											label.control.checkbox
												input(type="checkbox", name="borrow-"+item)
												span.control-indicator
												| ไมโครฟง
						button.raised
							i.fas.fa-paper-plane
							| ส่งข้อมูล
