html
	head
		include parts/meta
		title Reserving #{space.name}
		include parts/stylesheet
		include parts/scripts
	body
		include parts/nav
		-
			let times = [];
			let start_hr = 8;
			for (let i = 0; i <= 24; i++) {
				times.push(i%2 == 0 ? start_hr + ".00" : start_hr + ".30");
				if (i%2 != 0) start_hr++;
			}
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title กรุณากรอกรายละเอียด
					div(style="margin-bottom: 3em")
						p
							strong ผู้จอง: 
							| #{member.firstName} #{member.lastName}<br>
							| นักศึกษา คณะเทคโนโลยีสารสนเทศ
						p
							strong สถานที่: 
							| #{space.name}, คณะเทคโนโลยีสารสนเทศ
						p
							strong วันที่ต้องการจอง: 
							= reservation.r_date
						p
							strong เวลาที่ต้องการจอง: 
							= times[(reservation.start)-1] + "-" + times[reservation.end]
					form(action="reserve/submit", method="POST")
						div.input-wrap
							label(for="seats") จำนวนผู้ใช้งาน (จำเป็น)
							input(type="text", name="seats", required)
							span.err กรุณากรอกข้อมูล
						div.input-wrap
							label(for="reason") เหตุผลในการจอง (จำเป็น)
							textarea(name="reason", rows="4", required)
							span.err กรุณากรอกข้อมูล
						div.marg-b-1
							label อุปกรณ์ที่ต้องการยืม
							table
								each item in [1,2,3]
									tr
										td
											label.control.checkbox
												input(type="checkbox", name="borrow-"+item)
												span.control-indicator
												| ไมโครฟง
						button.raised
							i.fas.fa-paper-plane
							| ส่งข้อมูล
