html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, width=device-width")
		title Please fill the form
		include parts/stylesheet
		include parts/scripts
	body
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title กรุณากรอกรายละเอียด
					p ผู้จอง นาย สมศรี ชาวไร่