html
	head
		title= title
		link(rel='stylesheet' href='public/styles/normalize.css')
		link(rel='stylesheet' href='public/styles/style.css')
		link(rel='stylesheet' href='public/styles/fontawesome.min.css')
	body.search-page
		include parts/nav
		div.content
			h1.page-title Search for a space
