html
	head
		title= session.pageTitle
		include parts/stylesheet
		include parts/scripts
	body.search-page
		include parts/nav
		div#app
			div.content
				div.container.steep
					h1.page-title.text-center#page-title ค้นหาสถานที่
					div.search-box
						div.row.flex
							div.input-with-icon.inp-flex
								i.fas.fa-building
								input(type="text", placeholder="M23 IT", name="s-quick", v-model="s_quick")
							div.input-with-icon.inp-date
								i.fas.fa-calendar-alt
								input(type="text", placeholder="date", name="s-date", v-model="s_date")
						div.row.flex#search-advanced(v-if="showAdvanced")
							div.input-with-icon.inp-flex
								i.fas.fa-map-marker
								div.select
									select(aria-label="Choose a faculty", name="s-faculty", v-model="s_faculty")
										each fac in faculty
											option(value=fac.slug)= fac.name
							div.input-with-icon.inp-25
								i.fas.fa-hashtag
								input(type="text", placeholder="room", name="s-room", v-model="s_room")
							div.input-with-icon.inp-25
								i.fas.fa-users
								input(type="text", placeholder="seats", name="s-seats", v-model="s_seats")
						div.row.text-center.marg-b-1#labels(v-show="!showAdvanced")
							div.marg-b-1 ลองคลิกตัวอย่างเหล่านี้ <i class="fas fa-hand-point-down"></i>
							ul.label-list
								li(v-for="sample in trySamples" @click="s_quick = sample") {{ sample }}
						div.row.text-center.marg-b-1
							button(v-on:click="toggleAdvanced()")
								i.fas.fa-xs.fa-sliders-h
								|  {{ showAdvanced ? 'ซ่อน' : 'แสดง' }}ตัวเลือก
						div.row.text-center.marg-b-1
							button.raised(@click="doSearch()")
								i.fas.fa-search
								|  ค้นหา
				img#search-house(src="public/img/search-house.svg")
				div.container.steep#search-results(v-if="!firstSearch")
					each i in [1,2,3,4]
						result-card(slug="hello", name="M23", seats="50", :amenities="['pc', 'sound', 'aircon', 'proj']")
	script(type="text/x-template", id="result-card")
		a.card.hoverable.search-result-card(href="slug")
			h1.result-title {{ name }}
			div.result-time 2 hrs max available
			p คณะเทคโนโลยีสารสนเทศ
			div.amenities
				span
					i.fas.fa-users
					|  {{ seats }}
				span(v-if="amenities.includes('sound')", title="sound system")
					i.fas.fa-volume-up
				span(v-if="amenities.includes('pc')", title="teacher PC")
					i.fas.fa-desktop
				span(v-if="amenities.includes('aircon')", title="air conditioner")
					img.i(src="public/img/icons/snow.svg")
				span(v-if="amenities.includes('proj')", title="projector")
					img.i(src="public/img/icons/projector.svg")
	script(src="public/scripts/search-page.js")
