html
	head
		include parts/meta
		title รายงาน ##{id}  - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-report-single
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title รายงาน
					div.marg-b-2
						p สถานที่: Something
						p วันที่แจ้ง: #{problem.createdAt_th}
					div.marg-b-2
						h3 หัวข้อ
						p= problem.title
						h3 รายละเอียด
						p= problem.body
					a.button.raised(href="#")
						i.fas.fa-envelope-open
						| บันทึกว่าอ่านแล้ว
