html
	head
		include parts/meta
		title รายงาน ##{id}  - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-report-single
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title Report ##{id}
					div.marg-b-2
						p สถานที่: M03
						p วันที่แจ้ง: 30 กุมภาพันธ์ 2561
					div.marg-b-2
						p
							strong รายละเอียด
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nulla voluptatem vero repudiandae voluptas in ea accusantium, officia error, iusto blanditiis! Quisquam pariatur aspernatur eveniet natus assumenda, expedita molestiae reprehenderit.
					a.button.raised(href="#")
						i.fas.fa-envelope-open
						| อ่านแล้ว
