html
	head
		include parts/meta
		title จัดการผุ้ใช้ในสิทธิ์ Student - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-role-user
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h2.page-pretitle จัดการผู้ใช้ในสิทธิ์
						h1.page-title= role.name
					div
						a.button.marg-b-1(href="#")
							i.fas.fa-plus-circle
							| เพิ่มผู้ใช้เข้าสิทธิ์นี้
						form(action="")
							label(for="role-name") พิมพ์รหัสประจำตัวคั่นด้วยลูกน้ำและกด Enter
							input(type="text", name="role-name", style="width:100%")
					table.styled.striped
						if role.members.length == 0
							h3 ยังไม่มีผู้ใช้
						each m in role.members
							tr
								td.w-10= m.username
								td= m.firstName + " " + m.lastName
								td.actions
									a(href="#")
										i.fas.fa-trash
