html
	head
		include parts/meta
		title จัดการอุปกรณ์ให้ยืม
		include parts/stylesheet
		include parts/scripts
	body.manage-material
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title จัดการอุปกรณ์ให้ยืม
						h2.page-subtitle อุปกรณ์ของคณะที่ผู้จองห้องสามารถขอยืมได้
					div
						a.button.marg-b-1(href="#")
							i.fas.fa-plus-circle
							| เพิ่มอุปกรณ์ใหม่
						form(action="")
							label(for="role-name") พิมพ์ชื่ออุปกรณ์และกด Enter
							input(type="text", name="role-name")
					table.styled.striped
						each item in [1,2,3,4,5,6,7,8]
							tr
								td ไมโครฟง
								td.actions
									a(href="#")
										i.fas.fa-trash
