html
	head
		include parts/meta
		title จัดสิทธิ์ Student
		include parts/stylesheet
		include parts/scripts
	body.manage-role-single
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h2.page-pretitle จัดการสิทธิ์
						h1.page-title Student
					form(action="")
						div.marg-b-1
							label(for="role-name") ชื่อสิทธิ์
							input(type="text", name="role-name", style="width:100%")
						div.marg-b-1
							label อำนาจ
							table
								each item in [1,2,3,4,5,6,7,8]
									tr
										td
											label.control.checkbox
												input(type="checkbox")
												span.control-indicator
												| สร้างสถานที่
						button.raised
							i.fas.fa-save
							| บันทึก
