html
	head
		include parts/meta
		title จัดการสิทธิ์ - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-role
		include parts/nav
		div#app
			div.content
				div.container
					if deleteRoleStatus == "success"
						div.notice.success
							i.fas.fa-check-circle
							|  ลบสิทธิ์เรียบร้อย
					div.page-title-wrap
						h1.page-title จัดการสิทธิ์
					div
						a.button.marg-b-1(href="new/")
							i.fas.fa-plus-circle
							| สร้างสิทธิ์ใหม่
					table.styled.striped
						each r in roles
							tr
								td= r.name
								td.actions
									a(href="/manage-role/" + r.id + "/users/")
										i.fas.fa-user
									a(href="/manage-role/" + r.id + "/")
										i.fas.fa-cog
									a(href="/manage-role/" + r.id + "/delete/", onclick="return confirm('ต้องการลบสิทธิ์นี้หรือไม่')")
										i.fas.fa-trash
