html
	head
		include parts/meta
		title จัดการอุปกรณ์ให้ยืม - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-material
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title จัดการอุปกรณ์ให้ยืม
						h2.page-subtitle อุปกรณ์ของคณะที่ผู้จองห้องสามารถขอยืมได้
					div
						button.marg-b-1(onclick="toggleAdder()")
							i.fas.fa-plus-circle
							| เพิ่มอุปกรณ์ใหม่
						form#adder(action="new", method="POST", style="display:none")
							label(for="nameTh") พิมพ์ชื่ออุปกรณ์และกด Enter
							input(type="text", name="nameTh")
					table.styled.striped
						each item in materials
							tr
								td= item.name.th
								td.actions
									a(href="#")
										i.fas.fa-trash
		script
			| var toggled = false;
			| function toggleAdder() {
			| 	if (toggled) {
			| 		document.getElementById("adder").style.display = "none";
			| 		toggled = false;
			| 	} else {
			| 		document.getElementById("adder").style.display = "block";
			| 		toggled = true;
			| 	}
			| }
