html
	head
		include parts/meta
		title จัดการสถานที่ - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-report
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title จัดการสถานที่
					ul.tabs
						if member.currentAccesses.includes("SPACE_CREATE_ACCESS") || member.currentAccesses.includes("SPACE_UPDATE_ACCESS")
							li
								a(href="/manage-space/") สถานที่
						li.selected
							a(href="/manage-report/") รายงานปัญหา
					table.styled.striped
						each item in [1,2,3,4,5,6,7,8]
							tr
								td
									a.no-text-deco(href="/manage-report/" + item)
										strong= "#" + item + " M03"
										//- strong is for unread
								td.actions
									a(href="/manage-report/" + item)
										i.fas.fa-eye
