html
	head
		include parts/meta
		title จัดการสถานที่ M03 - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
		style
			| code#spaceURL {word-break: break-all}
			| span#spaceURI {color: #00A0FF}
	body.manage-space-single
		include parts/nav
		div#app
			div.content
				div.container
					if status == "success"
						div.notice.success
							i.fas.fa-check-circle
							|  บันทึกข้อมูลเรียบร้อย
					else if status == "error"
						div.notice.warning
							i.fas.fa-exclamation-circle
							|  ยังไม่ได้บันทึกข้อมูล กรุณาตรวจสอบข้อมูลอีกครั้ง
					div.page-title-wrap
						h2.page-pretitle จัดการสถานที่
						h1.page-title {{ spaceName || "สถานที่ใหม่" }}
					form(action="save", method="POST")
						p ช่องที่มีเครื่องหมายดอกจันทร์ (*) จำเป็นต้องกรอก
						hr
						div(style="display:none")
							input(type="text", name="name", required, v-model="computedSpaceURI")
						div.row
							div.col-50.marg-b-1
								label(for="space-name") ชื่อสถานที่ *
								input.fluid(type="text", name="fullName", required, v-model="spaceName")
							div.col-50.marg-b-1
								label(for="space-seats") จำนวนที่นั่ง
								input.fluid(type="number", name="capacity", value=(orgData.capacity ? orgData.capacity : "/authen/login/"))
						div.row
							div.col-50.marg-b-1
								label(for="slug") ประเภทสถานที่ *
								div.select
									select(aria-label="Choose a faculty", name="type")
										each t in [{x: "ห้องเรียน", v: "lecture_room"}, {x: "ห้องประชุม", v: "meeting_room"}]
											option(value=t.v, checked=(orgData.type == t.v))= t.x
						div(style="margin-bottom:0.5em")
							label(for="name_raw") ชื่อสำหรับใช้ใน URL (ภาษาอังกฤษเท่านั้น) *
							input(type="text", name="name_raw", required, v-model="spaceURI")
						div.marg-b-1
							code#spaceURL https://space.itforge.io/space/it/
								span#spaceURI {{ computedSpaceURI || "sample" }}
						div.marg-b-1
							label คุณสมบัติ
							table
								tr
									td
										label.control.checkbox
											input(type="checkbox", name="isAvailable", value="true", checked)
											span.control-indicator
											| เปิดให้จอง
								each item in amenities
									tr
										td
											label.control.checkbox
												input(type="checkbox", name="amenities", value=item.id)
												span.control-indicator
												= item.name
						div.marg-b-1
							label คำอธิบาย
							textarea(name="description", rows="4")
								= orgData.description ? orgData.description : ""
						div.marg-b-1
							label ภาพของห้อง
							div(style="height: 250px; background-color: #F0F0F0")
						button.raised
							i.fas.fa-save
							| บันทึก
		script(src="/public/scripts/manage-space-single.js")
		script
			| app.spaceName = "#{orgData.fullName ? orgData.fullName : ""}";
			| app.spaceURI = "#{orgData.name ? orgData.name : ""}";
