html
	head
		include parts/meta
		title จัดการสถานที่ - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-space
		include parts/nav
		div#app
			div.content
				div.container
					if createSpaceStatus == "success"
						div.notice.success
							i.fas.fa-check-circle
							| เพิ่มสถานที่เรียบร้อย
					else if deleteSpaceStatus == "success"
						div.notice.success
							i.fas.fa-check-circle
							| ลบสถานที่เรียบร้อย
					else if deleteSpaceStatus != ""
						div.notice.warning
							i.fas.fa-exclamation-circle
							| ไม่สามารถลบสถานที่ได้ (#{deleteSpaceStatus})
					div.page-title-wrap
						h1.page-title จัดการสถานที่
					ul.tabs
						li.selected
							a(href="/manage-space/") สถานที่
						if member.currentAccesses.includes("PROBLEM_READ_ACCESS")
							li
								a(href="/manage-report/") รายงานปัญหา
					div
						a.button.marg-b-1(href="new/")
							i.fas.fa-plus-circle
							| สร้างสถานที่ใหม่
					table.styled.striped
						each s in spaces
							tr
								td= s.fullName
								td.actions
									a(href=currentDept.name + "/" + s.name + "/")
										i.fas.fa-cog
									if accesses.includes("SPACE_DELETE_ACCESS")
										a(href=s.id + "/delete/", onclick="return confirm('ต้องการลบสถานที่นี้หรือไม่')")
											i.fas.fa-trash
