html
	head
		include parts/meta
		title ส่งคำร้องเรียบร้อย - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body
		include parts/nav
		div#app
			div.content
				div.container.text-center
					img.marg-b-2(src="/public/img/success.svg", alt="success", width="128", height="128")
					div.page-title-wrap
						h1.page-title คำร้องของคุณถูกส่งเรียบร้อย
						h2.page-subtitle ตรวจสอบสถานะได้ในหน้า 
							a(href="/my-request/") คำร้องของฉัน
