html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, width=device-width")
		title รายละเอียดคำร้อง
		include parts/stylesheet
		include parts/scripts
	body.single-request
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title รายละเอียดคำร้อง
						h2.page-subtitle คำร้อง ##{id}
					table.styled.striped
						tr.status.pending
							td สถานะ
							td รอการอนุมัติ
						each item in reqInfo
							tr
								td= item.name
								td= item.data
					
