html
	head
		title M03
		include parts/stylesheet
		include parts/scripts
	body.single-space
		include parts/nav
		div#app
			div.content
				div.container
					.page-title-wrap
						h1.page-title M03
						h2.page-subtitle คณะเทคโนโลยีสารสนเทศ
