html
	head
		include parts/meta
		title Page Title Here - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.page-file-name //-change class name to match this file's name
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title Title Here
						h2.page-subtitle Subtitle Here (optional)
					//- content goes here
