$color-primary: #00A0FF
$color-primary-normal: #7FD1FF
$color-primary-quiet: #C1E9FF

$color-secondary: #FF8100
$color-secondary-normal: #FFAD58
$color-secondary-quiet: #FFD7AE

$color-green: #39E126
$color-green-normal: #8BEA80
$color-green-quiet: #CFFFCA

$color-red: #FF5E53
$color-red-normal: #FD968F
$color-red-quiet: #FFD1CE

$font-styled: 'Noto Sans Thai UI', 'Ubuntu', 'Sukhumvit Set', 'Leelawadee', sans-serif
$font-normal: 'Ubuntu', sans-serif

$shadow-1: 0 5px 10px -4px rgba(0,0,0,0.4)
$shadow-1-hover: 0 8px 14px 0px rgba(0,0,0,0.2)
