$color-primary: #00A0FF
$color-primary-normal: #7FD1FF
$color-primary-quiet: #C1E9FF

$color-secondary: #FF8100
$color-secondary-normal: #FFAD58
$color-secondary-quiet: #FFD7AE

$color-green: #39E126
$color-green-normal: #8BEA80
$color-green-quiet: #CFFFCA

$color-red: #FF5E53
$color-red-normal: #FD968F
$color-red-quiet: #FFD1CE

$font-styled: 'Noto Sans Thai UI', 'Ubuntu', 'Sukhumvit Set', 'Leelawadee', sans-serif
$font-normal: 'Ubuntu', sans-serif

$shadow-card: 0 4px 4px rgba(0,0,0,0.1)
$shadow-card-hover: 0 4px 6px rgba(0,0,0,0.25)

$shadow-small: 0 5px 10px -4px rgba(0,0,0,0.45)
$shadow-small-hover: 0 5px 12px 0px rgba(0,0,0,0.15)

$shadow-normal: 0 5px 10px -4px rgba(0,0,0,0.4)
$shadow-normal-hover: 0 8px 14px 0px rgba(0,0,0,0.2)

$container-width: 820px
$container-steep-width: 528px

$gap-size-20: 1.25em
