// Welcome to the main stylesheet

@import vars
@import typography

@import components/nav
@import components/input
@import components/button
@import components/card
@import components/search-box
@import components/reservation-box
@import components/table
@import components/modal
@import components/notice

@import pages/search
@import pages/single-space
@import pages/login

*
	box-sizing: border-box

html
	background-color: #FAFAFA
	font-family: $font-normal
a.icon-link
	text-decoration: none
	color: inherit

.content
	padding-top: 8.5em
	padding-bottom: 4em
	&.no-top-padding
		padding-top: 4em

.container
	margin-left: auto
	margin-right: auto
	width: 100%
	max-width: $container-width
	&.steep
		max-width: $container-steep-width

hr
	border: 1px solid #E0E0E0
	margin: $gap-size-20 0

.marg-b-1
	margin-bottom: $gap-size-20
.marg-b-2
	margin-bottom: $gap-size-20 * 2
.fluid
	width: 100%

.row
	width: 100%
	.col-50
		display: inline-block
		width: 50%
		&:first-of-type
			padding-right: 0.5em
		&:last-of-type
			padding-left: 0.5em
.flex
	display: flex

// Colors
.color-red
	background-color: $color-red !important

a.no-text-deco
	text-decoration: none
	color: inherit

// Loading spinner (by Tobias Ahlin)
.spinner
	width: 40px
	height: 40px
	margin: 10px auto
	background-color: #333
	border-radius: 100%
	animation: loader-pulse 1.0s infinite ease-in-out
@keyframes loader-pulse
	0%
		transform: scale(0)
	100%
		transform: scale(1.0)
		opacity: 0

@media screen and (max-width: $container-width + 32)
	.container:not(.steep)
		padding-left: $gap-size-20
		padding-right: $gap-size-20

@media screen and (max-width: $container-steep-width + 32)
	.container.steep
		padding-left: $gap-size-20
		padding-right: $gap-size-20

@media screen and (max-width: 767px)
	.row
		.col-50
			display: block
			width: 100%
			padding: 0 !important

@media screen and (max-width: 430px)
	.content
		padding-top: 7em
		padding-bottom: 6em