// Welcome to the main stylesheet

@import vars
@import typography

@import components/nav
@import components/input
@import components/button
@import components/card
@import components/search-box
@import components/reservation-box
@import components/table

@import pages/search
@import pages/single-space
@import pages/login

*
	box-sizing: border-box

html
	background-color: #FAFAFA
	font-family: $font-normal
a.icon-link
	text-decoration: none
	color: inherit

.content
	padding-top: 8.5em
	padding-bottom: 4em
	&.no-top-padding
		padding-top: 4em

.container
	margin-left: auto
	margin-right: auto
	width: 100%
	max-width: $container-width
	&.steep
		max-width: $container-steep-width

hr
	border: 1px solid #E0E0E0
	margin: $gap-size-20 0

.marg-b-1
	margin-bottom: $gap-size-20
.marg-b-2
	margin-bottom: $gap-size-20 * 2

.row
	width: 100%
.flex
	display: flex

// Colors
.color-red
	background-color: $color-red !important

a.no-text-deco
	text-decoration: none
	color: inherit

@media screen and (max-width: $container-width + 32)
	.container:not(.steep)
		padding-left: $gap-size-20
		padding-right: $gap-size-20

@media screen and (max-width: $container-steep-width + 32)
	.container.steep
		padding-left: $gap-size-20
		padding-right: $gap-size-20

@media screen and (max-width: 430px)
	.content
		padding-top: 7em
		padding-bottom: 6em