meta(charset="utf-8")
meta(name="viewport", content="initial-scale=1, width=device-width")
meta(name="mobile-web-app-capable", content="yes")
meta(property="og:image", content="/public/img/KMITL-OSRS.png")