nav
	.logo KMITL OSRS
	ul.menu
		li
			a.icon-link(href="#")
				<i class="fas fa-search"></i>
		li
			a.icon-link(href="#")
				<i class="fas fa-building"></i>
		li
			a.icon-link(href="#")
				<i class="fas fa-users"></i>
		li
			a.icon-link(href="#")
				<i class="fas fa-clipboard-check"></i>
		li
			a.icon-link(href="#")
				<i class="fas fa-book"></i>
		li Nathan (<a href="out">sign out</a>)
