nav
	.logo KMITL OSRS
	ul.menu
		li
			a.icon-link(href="#")
				<i class="fas fa-search"></i>
		if isAdmin
			li
				a.icon-link(href="#")
					<i class="fas fa-building"></i>
			li
				a.icon-link(href="#")
					<i class="fas fa-users"></i>
		if isApprover
			li
				a.icon-link(href="#")
					<i class="fas fa-clipboard-check"></i>
		li
			a.icon-link(href="#")
				<i class="fas fa-book"></i>
		a.sign-out(href="out")= user + ' '
			i.fas.fa-times-circle
