nav
	.logo
		a(href="/") KMITL OSRS
	ul.menu
		li
			a.icon-link(href="#")
				i.fas.fa-search
		if user.isAdmin
			li
				a.icon-link(href="#")
					i.fas.fa-building
			li
				a.icon-link(href="#")
					i.fas.fa-users
		if user.isApprover
			li
				a.icon-link(href="#")
					i.fas.fa-clipboard-check
		li
			a.icon-link(href="#")
				i.fas.fa-book
		a.sign-out(href=session.authenUrl)= (session.currentUser ? session.currentUser : 'ลงชื่อเข้าใช้') + ' '
			if session.currentUser
				i.fas.fa-times-circle
			else
				i.fas.fa-sign-in-alt
