nav
	.logo
		a(href="/") KMITL OSRS
	if member && member.roles != "undefined"
		if member.roles.length > 0
			div.dropdown
				span #{currentDept ? "กำลังจัดการ" : "เลือกคณะ"} <strong>#{currentDept.name}</strong> 
					i.fas.fa-caret-down
				div.dropdown-content
					ul
						each r in member.roles
							li
								a(href="/choose-dept/" + r.department.name + "/" + r.department.id) <strong>#{r.department.name}</strong> - #{r.name}
	ul.menu
		li
			a.icon-link(href="/")
				i.fas.fa-search
			span.tooltip ค้นหาสถานที่
		if member && member.roles != "undefined"
			if member.currentAccesses.includes("SPACE_CREATE_ACCESS") || member.currentAccesses.includes("SPACE_UPDATE_ACCESS")
				li
					a.icon-link(href="/manage-space/")
						i.fas.fa-building
					span.tooltip จัดการสถานที่
		if member && member.roles != "undefined"
			if member.currentAccesses.includes("ROLE_ASSIGN_ACCESS")
				li
					a.icon-link(href="/manage-role/")
						i.fas.fa-users
					span.tooltip จัดการสิทธิ์
		if member
			li
				a.icon-link(href="/manage-material/")
					i.fas.fa-cube
				span.tooltip จัดการอุปกรณ์ให้ยืม
			li
				a.icon-link(href="/manage-request/")
					i.fas.fa-clipboard-check
				span.tooltip จัดการคำร้อง
		if member
			li
				a.icon-link(href="/my-request/")
					i.fas.fa-book
				span.tooltip คำร้องของฉัน
		a.authen(href=(member ? "/authen/logout/" : "/authen/login/"))= (member ? member.firstName : "เข้าสู่ระบบ") + " "
			if member
				i.fas.fa-times-circle
			else
				i.fas.fa-sign-in-alt
nav.mobile-nav#mobile-nav
	ul
		li
			a.icon-link(href="/")
				i.fas.fa-search
		if user.isAdmin
			li
				a.icon-link(href="/manage-space/")
					i.fas.fa-building
			li
				a.icon-link(href="/manage-role/")
					i.fas.fa-users
			li
				a.icon-link(href="/manage-material/")
					i.fas.fa-cube
		if user.isApprover
			li
				a.icon-link(href="/manage-request/")
					i.fas.fa-clipboard-check
		li
			a.icon-link(href="/my-request/")
				i.fas.fa-book

script
	| if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
	| 	var mobNav = document.getElementById("mobile-nav");
	| 	mobNav.classList.add("ios");
	| }
