link(rel='stylesheet', href='/public/styles/normalize.css')
link(rel="stylesheet", href="/public/styles/wtf-forms.css")
link(rel='stylesheet', href='/public/styles/style.css')
link(rel='stylesheet', href='/public/styles/fontawesome.min.css')
